@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



#form {

    max-width: 800px;
    margin: auto;

    max-height: 400;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 40px;


    background-color: gainsboro;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    z-index: 2;

    animation: fadeIn 3s ease-out forwards;



}

#form h1 {
    text-align: center;
    color: #333;
}

#fillAddress {
    text-align: center;
    margin-top: 20px;
}

#form button {
    padding: 10px;
    width: 100%;
    background-color: #3F4045;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #3F4045;


}




.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid white;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
    text-decoration: double;
}

.error {
    font-size: 15px
}

.container {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 70px;

}


.bildtest {
    flex: 1;
    object-fit: cover;
    width: 100%;
}

.form-and-image-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}


.form-content {
    flex: 1;
    margin: 10px;

    max-width: 600px;
}

.order-image {
    margin: auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
    opacity: 95%;
    position: relative;
}

