
html, body{
    height: 100%;
    margin: 0;
 }
 
 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color: #000000;
 }
 
 .content-wrap{
    flex: 1;
    padding-bottom: 125px;
 }
 
 .site-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 98%;
    background-color: #F0F0F0;
    height: 50px;
    z-index: 1;
}

.site-header a{
    font-family: "EB Garamond", serif;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
    color: black;
    transition: color .15s ease-in-out, font-size .20s ease-in-out;
}

.site-header a:hover{
    font-size: 1.1em;
    color: #c1a37a;
    transition: color .15s ease-in-out, font-size .20s ease-in-out;
}

 
 .site-header a{
    font-family: "EB Garamond", serif;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
    color: black;
    transition: color .15s ease-in-out, font-size .20s ease-in-out;
 }
 
 .site-header a:hover{
    font-size: 1.1em;
    color: #c1a37a;
    transition: color .15s ease-in-out, font-size .20s ease-in-out;
 }
 
 .site-footer{
    backdrop-filter: saturate(180%), blur(20px);
    background-color: #F0F0F0;
 }
 
 .description-text{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

.card-text{
    font-family: 'Spline Sans Mono';
    font-size: 14px;
}

.bread-container{
    position: absolute;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    width: auto;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
}

 
 ::-webkit-scrollbar-thumb{
    background: #343a40;
    border-radius: 10px;
 
 }
 ::-webkit-scrollbar-track{
    border-radius: 10px;
 }
 ::-webkit-scrollbar{
    width: 15px;
 }
 
 .spline-sans mono-font {
    font-family: 'Spline Sans Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
 
  .eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
