body{
    padding-top: 50px;
    font-family: "EB Garamond", serif;
}
button{
    background-color: black;
    color: white;
    border-radius: 10%;
}

.cart-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.cart-table th, .cart-table td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}



::-webkit-scrollbar-thumb{
    background: #343a40;
    border-radius: 5px;

}
::-webkit-scrollbar-track{
    border-radius: 5px;
}
::-webkit-scrollbar{
    width: 6px;
}

.spline-sans mono-font {
    font-family: 'Spline Sans Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }