body{
    padding-top: 50px;
    font-family: "EB Garamond", serif;
}

::-webkit-scrollbar-thumb{
    background: #343a40;
    border-radius: 5px;

}
::-webkit-scrollbar-track{
    border-radius: 5px;
}
::-webkit-scrollbar{
    width: 6px;
}

.spline-sans mono-font {
    font-family: 'Spline Sans Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }