.image-container img {
    height: 300px;
    position: absolute;
}
.site-contactform {
  
    max-width: 800px;
    margin: auto;
    
    max-height: 400;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    
    
    background-color: gainsboro;
    
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
      z-index: 2; 
     animation: fadeIn 3s ease-out forwards;

}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .row {
    display: contents;
  }
  
  .site-contactform-container, .site-text-container {
    padding: 20px; 
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr; 
    }
  }
  .site-contactform {
   text-align: center;
  }